button {
    flex-grow: 1;
    border-color: grey;
    padding: 2px 10px;
    background-color: orangered;
    color: azure;
    font-size: 1em;
}

div {

}

.flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#numberContainer {

}

#upperRow {
    flex-direction: row;
}

#leftContainer {
    flex-grow: 2;
}

#buttonContainer {
    flex-direction: row;
}

#display {
    flex-grow: 0.3;
    border-style: solid;
    background-color: black;
    color: azure;
    font-size: 2em;
    padding: 5px 5px;
}

#lowerRow {
    display: flex;
    flex-direction: row;
}

#calculatorContainer {
    border-style: solid;
    width: 80%;
    aspect-ratio: 2/1;
    margin: auto;
}